.container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #0A2227 0%, #090F0F 100%);
    align-items: center;
}

.sloga {
  color: #fff;
}

.list {
    display: none;
    list-style: none;
    gap: 10px;
}

.link {
  color: #fff;
  text-decoration: none;  
}

  #heart {
  background-color: #fff;
}

 #cart {
  background-color: #fff;
}