.container {
    display: flex;
    justify-content: space-around;
    background-color: #0A2227;
    align-items: center;
}

.sloga {
  color: #fff;
}

.list {
    display: flex;
    list-style: none;
    gap: 10px;
}

.link {
  color: #fff;
  text-decoration: none;  
}

  #heart {
  background-color: #fff;
}

 #cart {
  background-color: #fff;
}