.destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-5xl) 0;
    background-color: var(--cor-secundaria-light);
    width: 100%;
}

#container {
    width: 1200px;
    margin: 0 auto; 
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 

    @media (max-width: 768px) {
        flex-direction: column;
        height: auto; 
    }
}

.destaqueTitulo {
    color: var(--cor-primaria-dark);
    font-size: 3rem;
    
    @media (max-width: 768px) {
        text-align: center;
        width: 100%;
        font-size: 2rem; 
       }
}

.destaqueTitulo>span {
    color: var(--cor-terciaria-dark);
}

.img {
    width: 100%;
    height: auto; 
    max-width: 100%; 
}
