@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container {
    background: linear-gradient(90deg, #0A2227 0%, #090F0F 100%);
    color: #fff;
}


.container h1 {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container p {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.container strong {
    color: #3E9D26;
}



.linkContainer {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    border-radius: 10px;
    background: #3E9D26;
    padding: 10px 30px;
}

.containerBtn {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.containerImg {
    width: 100%;
}