.performace { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
    color: #fff;
    background: linear-gradient(90deg, #0A2227 0%, #090F0F 100%);
}


.link {
    color: #3E9D26;
}

.product{
    display: flex;
}

.des {
    display: flex;
    flex-direction: column;
}


@media (min-width: 600px) {
    .product{
     display: flex;   
     justify-content: center;
      
    }
  }